.vscode/
.vs/
*.out

cpp/build/
cpp/**/*.obj
cpp/**/*.exe
cpp/**/*.pdb
cpp/**/*.ilk
cpp/**/*.log
cpp/**/*.tlog
cpp/**/*.idb
cpp/**/*.o
cpp/**/*.a
cpp/**/*.so
cpp/**/*.dylib

# CMake 
cpp/**/CMakeFiles/
cpp/**/CMakeCache.txt
cpp/**/cmake_install.cmake
cpp/**/CTestTestfile.cmake
cpp/**/Testing/
cpp/**/Makefile
cpp/**/compile_commands.json

# local logs
cpp/**/debug.txt
cpp/**/instruction.md

# LLVM profiling
cpp/**/*.profraw
cpp/**/*.profdata
cpp/**/*.d
cpp/**/*.tmp

# Coverage artifacts you generate
cpp/**/**/coverage_report.txt
cpp/**/**/coverage_report*.txt
cpp/**/**/coverage/